.box_emojis {
    width: 44px;
    padding: 9.5px;
    border: 1px solid #1c1b1b;
    cursor: pointer;
}

.box_mic{
    width: 44px;
    padding: 9.5px;
    border: 1px solid #1c1b1b;
    cursor: pointer;
}

.box_img{
    width: 44px;
    padding: 9px;
    border: 1px solid #1c1b1b;
    cursor: pointer;
}

.box_img > ion-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_img > input[type="file"] {
    display: none;
}

.typebox_emojis {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
    background-color: #1c1b1b;
    display: none;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.typebox_emojis > div {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #fff;
    padding: 12px 8px;
}

#search{
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-left: 16px;
}

.typebox_emojis > ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.typebox_emojis > ul > li {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
}

.typebox_emojis > ul > li:hover {
    font-size: 1.6rem;
    margin: 9px;
}

.typebox_emojis::-webkit-scrollbar {
    width: 8px;
    height: 0;
}

.typebox_emojis::-webkit-scrollbar-track {
    background: orange;
}

.typebox_emojis::-webkit-scrollbar-thumb {
    background-color: rgb(37, 37, 39);
    border-radius: 20px;
}

.typebox_emojis_active {
    display: block;
}